*{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;   
    font-family: "roboto flex";
    background-color: black;
}

.main{
    width: 100%;
}

.main img{
    width: 100%
}

.title_container{
    position: absolute;
    overflow: visible;
    top: 77%;  
    width: 100%;
    text-align: center;
}

.title{
    font-family: "Kings";
    font-size: 20pt;
    color: white;
    line-height: 15pt;
    
}

.poster {
    position: absolute;
    top: 100%;
    left: 5%;
    height: 80%;
    overflow: hidden;
}

.poster img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.description_container{ 
    left: 40%;
    top: 100%;
    width: 55%;
    height: 80%;
    position: absolute;
    overflow:visible;
    background: rgba(0, 0, 0, 0.5);
    overflow-y: auto;
}

.description{
    color: white;
    padding: 2%;
    font-size: 18pt;
}

.actor1, .actor2, .actor3{
    height: 80%;
    width: 26%;
    background-color: white;
    top: 190%;
    position: absolute;
    overflow:hidden;
    background-size: cover;
    color: white;
    font-size: 18pt;
    text-align: center;
}

.actor1{      
    left: 5%; 
}

 .actor1 img {
    width: 100%;
    height: 100%;
    object-fit: cover;  
    display: box;
}

.actor2{
    left: 37%;   
}

.actor2 img {
    width: 100%;
    height: 100%;
    object-fit: cover;  
    display: box;
}

.actor3{
    left: 69%;   
}

.actor3 img {
    width: 100%;
    height: 100%;
    object-fit: cover;  
    display: box;
}

/*actor name*/
.an1, .an2, .an3{
    width: 100%;
    height: 10%;
    overflow: visible;
    background-color: rgba(0, 0, 0, 0.5);
    text-align: center;
    top: 91%;
    justify-content: center;
    align-items: center;
    display: flex;
    font-size: 20pt;
    position: absolute;
}

/*youtube videos*/
.yt1, .yt2, .yt3, .mscript{
    height: 60%;
    width: 42%;
    background-color: black;
    position: absolute;
    overflow:visible;
}

.yt1{
   top: 280%; 
    left: 5%;    
}

.yt1 iframe{
    width: 100%;
    height: 100%;
    display: block;
}

.yt2 iframe{
    width: 100%;
    height: 100%;
    display: block;
}

.yt3 iframe{
    width: 100%;
    height: 100%;
    display: block;
}

.yt2{
   top: 280%; 
    right: 5%;  
}

.yt3{
   top: 350%; 
   right: 5%;  
}

.mscript{
   top: 350%; 
   left: 5%; 
    background: white;
    padding: 30px;
    overflow-y: auto;
}

.mscript h1,
.mscriptx h2 {
    margin-bottom: 15px;
}

.mscript p {
    margin-bottom: 20px;
    line-height: 1.5;
}

/*navigation*/
.map {
    width: 8%;
    height: 6%;
    top: 20px;
    left: 48%;
    align-items: flex-start;
    overflow:visible;
    position: absolute;
}

.map img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    display: block;
    
}

.arrow_next {
    width: 8%;
    height: 6%;
    top: 415%;
    left: 80%;
    align-items: flex-end;
    overflow:visible;
    position: absolute;
}

.arrow_next img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    display: block;
    
}

.arrow_back {
    width: 8%;
    height: 6%;
    top: 415%;
    left: 20%;
    align-items: flex-end;
    overflow:visible;
    position: absolute;
}

.arrow_back img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    display: block;
    
}

